* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.container .card {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  overflow: hidden;
  clip-path: polygon(50%, 0%, 0%, 100%, 100%, 100%);
}

.container .card .img {
  transition: .5s;
  width: 300px;
  height: 300px;
  background-color: #f90;
}

.container .card:hover .img{
  transform: scale(1.5);
}